<button id="topicbutton">add topic</button>


<!-- TOPIC FIELD-->
<div id="topicfield">
  <h1>Add new Topic</h1>
<form>
<textarea></textarea>
</form>
<button>Cancel</button><button>Submit</button>
</div>